<script setup lang="ts"></script>
<template>
  <v-row>
    <v-col>
      <v-btn>เครื่องดื่ม</v-btn>
      <v-btn>ขนม</v-btn>
      <v-btn>อาหาร</v-btn>
    </v-col>
  </v-row>
</template>
<style></style>
