<script setup lang="ts">
import { ref } from "vue";
import { useOrderStore } from "../../stores/order";
const useOrder = useOrderStore();
const t = defineProps<{
  id: number;
  name: string;
  price: number;
  category: string;
  img: string;
}>();
</script>
<template>
  <v-card
    class="mx-auto text-center"
    width="200px"
    v-ripple
    @Click="useOrder.OnClilk(t.id)"
  >
    <v-img :src="t.img" height="200px" cover></v-img>
    <v-card-title>{{ t.name }}</v-card-title>
    <v-card-subtitle>ราคา : {{ t.price }} บาท</v-card-subtitle>
  </v-card>
</template>
