<script setup lang="ts">
import CoffeeCardMenu from "./CoffeeCardMenu.vue";
import { useCoffeeStore } from "../../stores/coffee";
import OrderListView from "./OrderListView.vue";
import OrderReceipt from "./OrderReceipt.vue";
const useCoffee = useCoffeeStore();
</script>

<template>
  <v-row>
    <v-col cols="12" md="4" class="justify-center">
      <OrderListView></OrderListView>

      <OrderReceipt></OrderReceipt>
    </v-col>
    <v-col cols="12" md="8" class="justify-center">
      <v-container>
        <v-row>
          <v-col
            class="mx-auto"
            v-for="item of useCoffee.coffee"
            :key="item.id"
          >
            <CoffeeCardMenu
              :name="item.name"
              :id="item.id"
              :price="item.price"
              :category="item.category"
              :img="item.img"
            ></CoffeeCardMenu></v-col
        ></v-row>
      </v-container>
    </v-col>
  </v-row>
</template>

<style></style>
