<script setup lang="ts">
import { useCoffeeStore } from "@/stores/coffee";
import { mdiDeleteOutline, mdiPlus, mdiMinus } from "@mdi/js";
import { useOrderStore } from "../../stores/order";
const useCoffee = useOrderStore();
const userStore = useCoffeeStore();
</script>

<template>
  <v-card style="width: auto">
    <v-container style="width: 100%">
      <v-table id="order">
        <thead>
          <tr>
            <th>ID</th>
            <th>สินค้า</th>
            <th>ราคา</th>
            <th>จำนวน</th>
            <th>รวม</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of useCoffee.order" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
              <v-btn
                :icon="mdiPlus"
                size="25px"
                class="mr-5"
                style="background-color: rgb(217, 77, 77); color: aliceblue"
              ></v-btn
              >{{ item.count
              }}<v-btn
                :icon="mdiMinus"
                size="25px"
                class="ml-5"
                style="background-color: rgb(95, 200, 49); color: aliceblue"
              ></v-btn>
            </td>
            <td>{{ item.sum }}</td>
            <td style="text-align: right">
              <v-btn
                :icon="mdiDeleteOutline"
                style="background-color: rgb(111, 103, 103); color: aliceblue"
                size="30px"
              ></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-container>
  </v-card>
</template>

<style scoped>
#order {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#order td,
#order th {
  padding: 8px;
}

#order tr:nth-child(even) {
  background-color: #f2f2f2;
}

#order th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6b4d36;
  color: white;
}
</style>
