<script setup lang="ts"></script>
<template>
  <v-card>
    <v-tabs center-active dark>
      <v-tab>เครื่องดื่ม</v-tab>
      <v-tab>ขนม</v-tab>
      <v-tab>อาหาร</v-tab>
    </v-tabs>
  </v-card>
</template>

<style scoped></style>
